* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: black;
    color: #fff;
    overflow: hidden;
    /* This property sets the desired behaviour when the content does not fit in the parent
    element box (overflows) in the horizontal and/or vertical direction. 'hidden' value means, that the over-
    flowed content in the parent element box will not be visible.*/
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar {
    background-color: black;
    width: 340px;
    border-radius: 1rem;
    /* means, 16px = parent element's font size */
    margin-right: 0.5rem;
}

.main-content {
    background-color: #121212;
    flex: 1;
    /*this property sets how a flex items will grow or shrink to fit the space available in its
     flex container. */
    border-radius: 1rem;
    /*16px */
    overflow: auto;
    /* 'auto' value means, that the overflowed content in the parent element box can be viewed
    by scrolling, when needed */
    padding: 0 1.5rem 0 1.5rem;
}

.music-player {
    background-color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 90px;
}

.nav {
    background-color: #121212;
    border-radius: 1rem;
    /*16px*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}

.nav-option {
    background-color: #121212;
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}

.nav-option a,
i {
    text-decoration: none;
    color: #fff;
    background-color: inherit;
}

.nav-option:hover {
    opacity: 1;
}

.nav-option i {
    font-size: 1.25rem;
}

.nav-option a {
    font-size: 1rem;
    margin-left: 1rem;
}

.library {
    background-color: #121212;
    border-radius: 1rem;
    /*16px*/
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
}

.lib-option {
    background-color: #121212;
}

.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
    background-color: #121212;
}

.icons {
    font-size: 1.25rem;
    background-color: #121212;
    display: flex;

}

.icons i {
    opacity: 0.7;
    margin-right: 1rem;
}

.icons i:hover {
    opacity: 1;
}

.lib-box {
    background-color: #121212;
}

.box {
    background-color: #232323;
    height: 8rem;
    border-radius: 1rem;
    margin: 0.5rem 0rem 1.5rem 0rem;
    padding: 1rem 1.25rem;
}

.box-p1 {
    font-size: 1rem;
    background-color: #232323;
    font-weight: 600;
    margin-bottom: 1rem;
}

.box-p2 {
    font-size: 0.75rem;
    background-color: #232323;
    margin-bottom: 1rem;
    opacity: 0.8;
}

.badge {
    width: fit-content;
    height: 2rem;
    background-color: white;
    color: black;
    padding: 0.25rem 1rem;
    font-weight: 700;
    border: none;
    border-radius: 100px;
    margin-top: 0.5rem;
}

.sticky-nav {
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
    z-index: 10;
}

.sticky-nav-icons,
.sticky-nav-icons img,
.sticky-nav-options {
    background-color: #121212;
}

.sticky-nav-icons {
    margin-left: 1.5rem;
}

.sticky-nav-icons img {
    height: 1.5rem;
    width: 1.5rem;
}

.sticky-nav-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky-nav-options .badge,
i {
    margin-right: 1rem;
}

.sticky-nav-options .scale:hover {
    scale: 1.1;
}

@media(max-width: 1023px) {
    .sticky-nav .hide {
        display: none;
    }
}

.cards {
    background-color: #121212;
    display: flex;
    flex-direction: column;
}

.cards h2 {
    background-color: #121212;
    margin: 1.5rem 0 1rem 0rem;
}

.card,
.card p {
    background-color: #232323;
}

.cards-container {
    display: flex;
    background-color: #121212;
    flex-wrap: wrap;
}

.card {
    width: 170px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
}

.card-img {
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 0.6rem;
}

.card-title {
    font-weight: 600;
    margin-bottom: 0.6rem;
}

.card-text {
    font-size: 0.75rem;
    margin-bottom: 0.6rem;
    opacity: 0.8;
}

.footer {
    height: 300px;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    width: 95%;
    height: 60%;
    border-top: 1px solid white;
    background-color: #121212;
    opacity: 0.2;
}

.music-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album {
    width: 25%;
    height: 100%;
}

.player {
    width: 50%;
    height: 100%;
}

.controls {
    width: 25%;
    height: 100%;
}

.player-controls,
.player-control-icon,
.playback-bar,
.time {
    background-color: inherit;
}

.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.player-control-icon {
    height: 0.9rem;
    margin-right: 1rem;
    margin-left: 0.7rem;
    margin-top: 0.7rem;
    opacity: 0.7;
}

.player-control-icon:hover {
    opacity: 1;
}

.playback-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
}

.progress-bar {
    width: 70%;
    height: 1rem;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track {
    background-color: #554848;
    height: 0.2rem;
    border-radius: 100px;
}

.progress-bar::-webkit-slider-thumb {
    appearance: none;
    height: 0.8rem;
    width: 0.8rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -4px;
}

.progress-bar:hover::-webkit-slider-runnable-track {
    background-color: #1bd760;
}

.progress-bar:hover::-webkit-slider-thumb {
    background-color: #ddd;
}

.time {
    font-size: 0.6rem;
    margin: 0 0.5rem 0 0.5rem;
    opacity: 0.7;
}

.album {
    display: flex;
    justify-content: start;
    align-items: center;
}

.album .image img {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 0.2rem;
    margin-right: 0.75rem;
}

.album .info .name {
    font-size: 0.85rem;
    font-weight: 500;
    margin-bottom: 0.25rem;
    margin-right: 0.75rem;
}

.album .info .singer {
    font-size: 0.65rem;
    opacity: 0.75;
    margin-bottom: 0.2rem;
    margin-right: 0.75rem;
}

.album .like button {
    border: none;
    padding: 0.25rem;
    margin: 0;
    font-size: 1rem;
}

.album .like i {
    margin: 0;
    opacity: 0.75;
}

.album .like i:hover {
    opacity: 1;
    cursor: pointer;
}

.album .like button:active i {
    color: #1bd760;
}

.controls {
    display: flex;
    justify-content: end;
    align-items: center;
}

.controls-icons {
    opacity: 0.6;
    margin-right: 0.8rem;
}

.controls-icons:hover {
    opacity: 1;
}

.sound-bar {
    appearance: none;
    height: 1rem;
    background-color: transparent;
}

.sound-bar::-webkit-slider-runnable-track {
    background-color: #554848;
    height: 0.25rem;
    border-radius: 100px;
}

.sound-bar::-webkit-slider-thumb {
    appearance: none;
    height: 0.8rem;
    width: 0.8rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -4px;
}

.sound-bar:hover::-webkit-slider-runnable-track {
    background-color: #1bd760;
}

.sound-bar:hover::-webkit-slider-thumb {
    background-color: #ddd;
}